<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530288782965-fbad40327074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="cd-container">
    <h1>CD</h1>
    <p><strong>Search your heart, search your soul, and search your CD</strong></p>
    <%= link_to "Add your CDs", new_cd_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
<%# List %>
  <div>
    <% @cds.each do |cd| %>
    <div class="cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), <%= cd.photo.attached? ? (cl_image_tag cd.photo.key, height: 300, width: 400, crop: :fill ) : image_tag(asset_path('doge.png'), height: 300) %>">
      <div class="card-category" >
        <h2><%= cd.name %></h2>
        <%= link_to "Details", cd_path(cd), class: "text-decoration-none btn btn-ghost" %>
      </div>
    <% end %>
</div>
