<%# Banner %>
<div class="add-booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1615716175455-9a098e2388be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGxpZ2h0JTIwZ3JlZW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);">

  <h1 style="text-transform:uppercase;">Rent CD</h1>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= simple_form_for [@cd, @booking] do |f| %>
      <%= f.input :start_time, label: "Rent from",  as: :date, html5: true %>
      <%= f.input :end_time, label: "Rent until",  as: :date, html5: true %>
      <%= f.submit value: "Rent", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
