<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram", style="color:#C54168"></i></a>
    <a href="#"><i class="fab fa-facebook" style="color:#217BF3"></i></a>
    <a href="#"><i class="fab fa-twitter" style="color:#98D5F4"></i></a>
    <a href="#"><i class="fab fa-youtube" style="color:red"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2022 CD Inc. All rights reserved.
  </div>
</div>
