.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.profile-avatar {
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 20px;
}

.profile-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile {
  text-align: center;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-detail h1{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.profile-detail h2 {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}

.profile-detail p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.container-user-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
