// Home
.home-banner {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 150px 0;
  margin-bottom: 20px;
}

.home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 100px;
  font-weight: bold;
}

.home-banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.shinning {
  position: relative;
  font-family: Geneva, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #59C1BD, #A0E4CB, #68daf3);
  background-color: #68daf38a;
  background-repeat: no-repeat;
  animation: animate 4s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
    background-size: 60%
  }
  100% {
    background-position: 500%;
    background-size: 80%;
  }
}

// Add CD
.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

// Show CD
.show-banner {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 150px 0;
}

.show-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 100px;
  font-weight: bold;
}

.show-banner h3 {
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

.show-banner h4 {
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

// CD Index
.cd-banner {
  background-size: cover;
  background-position: center;
  padding: 223px 0;
  margin-bottom: 20px;
}

.cd-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

// Booking Edit
.book-edit-banner {
  background-size: cover;
  background-position: center;
  padding-bottom: 212px;
  padding-top: 30px;
}

.book-edit-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

// Booking Index
.booking-banner {
  background-size: cover;
  background-position: center;
  padding: 223px 0;
  margin-bottom: 20px;
}

.booking-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
