// Card Product
.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  width: 500px;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 6px 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-category img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-category p {
  position: absolute;
  top: 45%;
  left: 40%;
}

// Card Category
.card-category {
  position: relative;
  height: 360px;
  width: 360px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: .8;
}

.card-category:hover {
  opacity: 1;
  border: 3px solid red;}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.spinhov:hover {
  animation-name: spinning;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}

// Cards grid
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
